.sDescr{

  &__top-row{
    --bs-gutter-x: #{rem(16)};
    --bs-gutter-y: #{rem(16)};

    margin-bottom: rem(24);
  }
  &__name-row{
    --bs-gutter-x: #{rem(8)};
    --bs-gutter-y: #{rem(16)};
  }
  &__img{
    background-color: var(--tag-bg);
    width: rem(40);
    height: rem(40);
    border-radius: rem(4);
    padding: rem(8);

    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__name{
    letter-spacing: rem(-0.784);
    margin-bottom: 0;
  }
  &__descr{
    color: var(--text-contrast, #E5E5E6);
    line-height: 1.6;

    @include media-breakpoint-up(lg){
      max-width: 650px;
    }
  }
  &__generate-btn{
    @extend .btn;
    @extend .btn-primary;

    padding: rem(11) rem(19);
    font-size: rem(16);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: rem(-0.18);
  }
  &__main-row{
    --bs-gutter-x: #{rem(24)};
    --bs-gutter-y: #{rem(24)};
  }
  &__content-box{
    border-radius: rem(8);
    background: #171819;

    padding: rem(24) rem(16);
    @include media-breakpoint-up(sm){
      padding: rem(24);
    }

    & > *:last-child{
      margin-bottom: 0;
    }

    h4,h6{
      margin-bottom: rem(24);
      line-height: 1.4;
      letter-spacing: rem(-0.336);
    }

    p{
      margin-bottom: rem(20);
    }

    ul{
      counter-reset: num;
      list-style: none;
      padding: 0;
      margin: 0;

      li{
        position: relative;
        padding-left: rem(16);

        &:before{
          content: counter(num)".";
          counter-increment: num;
          position: absolute;
          top: 0;
          left: 0;
        }

        margin-bottom: rem(20);
      }
    }
  }

  //
  &__plan{
    display: block;
    padding: rem(24);

    border-radius: rem(8);
    background: #171819;
  }
  &__p-title{
    color: $body-color!important;
    letter-spacing: rem(-0.128);
    margin-bottom: rem(8);
  }
  &__p-price-box{
    display: flex;
    align-items: baseline;

    margin-bottom: rem(24);
  }
  &__p-price{
    color: #FFF;

    font-size: rem(36);
    font-weight: 600;
    line-height: calc(44/36);
    letter-spacing: rem(-0.784);

  }
  &__p-gray{
    color: $secondary;

    font-size: rem(18);
    font-weight: 500;
    line-height: calc(28/18);
    letter-spacing: rem(-0.256);
  }
  &__p-items{
    margin-bottom: rem(24);
  }
  &__p-item{
    margin-bottom: rem(16);
  }
  &__pi-row{
    --bs-gutter-x: #{rem(16)};
  }
  &__pi-ball{
    width: rem(32);
    height: rem(32);
    border-radius: rem(16);
    background: rgba(20, 253, 191, 0.29);

    display: flex;
    align-items: center;
    justify-content: center;
    --icon-fill-col: #{$primary};
  }
  &__pi-txt{
    color: $primary;

    font-weight: 600;
    letter-spacing: rem(-0.128);
  }
  &__btn{
    @extend .btn;
    @extend .btn-outline-primary;
    display: block;

    padding: rem(12) rem(20);
    border-radius: rem(6);

    &:hover{
      color: $white!important;
    }

    font-size: 14px;
    font-weight: 600;
    line-height: calc(16/14);
    letter-spacing: rem(-0.128);
  }

  //
  &__{}
  &__{}
  &__{}
}